real-content
content
retorx.iml
*.iml
target
web/node_modules/*
web/node
web/src/main/webapp/js/admin.bundle.js
web/src/main/webapp/js/main.bundle.js
web/src/main/webapp/images/default-skin.png
web/src/main/webapp/images/default-skin.svg
web/src/main/webapp/images/preloader.gif
web/src/main/webapp/css/admin.css
web/src/main/webapp/css/main.css

current-content
