body {
    background: black;
    color: #cccccc;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 128, 0, .8);
    color: white;
    text-align: center;
    font-size: 18px;
    display: none;
}

.admin-container {
    display: block;
}

.admin-tag-container {
}

.tag-admin-image-list {
    background-color: black;
    margin-left: 3px;
}

.tag-name-field {
    margin: 3px;
}

.image-admin-defaults {
    width: 100%;
}

.image-admin-container-background {
    background-color: black;
    opacity: .85;
    z-index: -1;
}

.image-admin-container {
    z-index: 100;
}

.image-admin-info-contents {
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.image-admin-image-contents {
    display: inline-block;
    margin-top: 10px;
    width: 600px;
}

.image-admin-image-contents img {
    max-width: 100%;
}

.admin-image-name {
    margin-top: 3px;
    margin-right: 3px;
    display: block;
    color: white;
}

.thumb-image-container {
}

.admin-thumb-link {
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0;
}

.admin-image-fileupload-progress {
    background-color: green;
}

.property-editor-fields textarea {
    float: left;
    margin-top: 4px;
    margin-right: 4px;
}

.property-editor-fields input {
    margin-top: 4px;
    margin-right: 4px;
    vertical-align: top;
}

.property-editor-value-textarea {
    width: 200px;
    height: 100px;
}

.property-editor-value-field {
    width: 200px;
}

.property-editor-name-field {
    width: 200px;
}

.admin-thumb-link:hover {
    cursor: pointer;
}

.admin-editor-thumb {
    margin-top: 10px;
}

.properties-editor {
    text-align: left;
}

.property-editor-fields {
    display: block;
}

.add-property-button {
    display: inline;
}

.save-properties-button {
    display: inline;
}

.admin-menu-container {
    width: 100%;
    display: block;
    background-color: black;
}

.admin-menu-item {
    display: inline-block;
    min-width: 120px;
    background-color: #333333;
    border: 1px solid gray;
    cursor: pointer;
    padding: 3px;
    text-align: center;
}

.admin-menu-item:hover {
    background-color: black;
}

