body {
    background: black;
    color: #cccccc;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

#message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    font-size: 18px;
    background-color: rgba(0, 200, 0, .7);
    z-index: 10000;
    display: none;
}

#loader {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 128, 0, .8);
    color: white;
    text-align: center;
    font-size: 18px;
    display: none;
}

.admin-container {
    display: block;
}

.admin-tag-container {
    padding-top: 30px;
}

.tag-admin-image-list {
    background-color: black;
    margin-left: 3px;
}

.tag-admin-image-list .ui-selecting {
    border: 3px solid yellow;
}

.tag-admin-image-list .ui-selected {
    border: 3px solid dodgerblue;
}

.tag-admin-image-list img {
    margin: 3px;
    border: 3px solid black;
}

.tag-admin-image-list img.hidden-image {
    opacity: .3;
}

.tag-name-field {
    margin: 3px;
}

.image-admin-defaults {
    width: 100%;
}

#image-modal {
    color: black;
}

.image-admin-container-background {
}

.image-admin-container {
}

.image-admin-info-contents {
    display: inline-block;
    vertical-align: top;
}

.image-admin-image-contents {
    display: inline-block;
    margin-top: 10px;
    width: 600px;
}

.image-admin-image-contents img {
    max-width: 100%;
}

.fadeIn {
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}

.transparent {
    opacity: 0;
}

.thumb-image-container {
}

.admin-thumb-link {
    display: inline-block;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0;
}

.admin-image-fileupload-progress {
    background-color: green;
}

input {
    color: black;
}

.property-editor-fields textarea {
    margin-top: 4px;
    margin-right: 4px;
}

.property-editor-fields input {
    margin-top: 4px;
    margin-right: 4px;
    vertical-align: top;
}

.property-editor-value-textarea {
    width: 200px;
    height: 100px;
}

.property-editor-value-field {
    width: 200px;
}

.property-editor-name-field {
    width: 200px;
}

.admin-thumb-link:hover {
    cursor: pointer;
}

.admin-editor-thumb {
    margin-top: 10px;
}

.properties-editor {
    text-align: left;
}

.property-editor-fields {
    display: block;
}

.add-property-button {
    display: inline;
}

.save-properties-button {
    display: inline;
}

.admin-menu-container {
    position: fixed;
    height: 30px;
    width: 100%;
    display: block;
    background-color: black;
}

.admin-menu-item {
    display: inline-block;
    min-width: 120px;
    background-color: #333333;
    border: 1px solid gray;
    cursor: pointer;
    padding: 3px;
    text-align: center;
}

.admin-menu-item:hover {
    background-color: black;
}

