body {
  margin: 0;
  padding: 0;
}

.rotation-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rotation-image {
  position: absolute;
  top: 0;
  left: 0;
}

.rotation-image-container {
  position: absolute;
  top: 0;
  left: 0;
}

.thumbnails-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.rotator-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: black;
  color: white;
  display: inline-block;
}

.rotator-close-button {
  z-index: 2001;
  display: inline-block;
}
