body {
  margin: 0;
  padding: 0;
}

.throwing-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.throwing-sprite {
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  background-color: black;

}
